<h3>add a new restaurant</h3>


<%= simple_form_for(@restaurant) do |f| %>

  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: %w[chinese japanese french ], as: :radio_buttons %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
