<h3>restaurant</h3>

<div>
  <p><%= @restaurant.name %></p>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>
</div>

<div>
  <ul>
    <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
    <% end %>
  </ul>
</div>

<p><%= link_to "edit", edit_restaurant_path %></p>
<p><%= link_to "add a review", new_restaurant_review_path(@restaurant) %></p>
<p><%= link_to "go back to homepage", restaurants_path %></p>

